<div class="options">
  <ul class="selection-list">
    <li class="selection-list-item selected">
        <label for="ra-0">
            <span class="name">3-Prong 5' Flat Dryer Cord - Gray</span>
            <span class="price">$29.99</span>
        </label>
    </li>
    <li class="selection-list-item">
        <label for="ra-1">
            <span class="name">4-Prong 5' Round Dryer Cord - Black</span>
            <span class="price">$29.99</span>
        </label>
    </li>
    <li class="selection-list-item">
        <label for="ra-2">
            <span class="name">6 ft. Snap-Lock&amp;trade; Flexible Pipe</span>
            <span class="price">$14.99</span>
        </label>
    </li>
    <li class="selection-list-item">
        <label for="ra-3">
            <span class="name">Dryer Exhaust Close Elbow</span>
            <span class="price">$9.99</span>
        </label>
    </li>
  </ul>
</div>
